spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nyc_taxi
    username: nyc_user
    password: nyc_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false
  sql:
    init:
      mode: never

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: nyc-taxi-batch

taxi:
  ingestion:
    source-file: data/yellow_tripdata.csv
